@media screen and (max-width: 700px) {

  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    word-spacing: 5px;
    position: relative;
  }

  .header p {
    text-align: center;
  }

  .header p:first-of-type {
    height: 5px;
  }

  .mobile-logo {
    margin-top: 20px;
  }

  .sidebar1 {
    width: 100%;
    padding-top: 40px;
  }

  .content {
    width: 100%;
  }

  .content1 {
    float: left;
    width: 100%;
    padding: 10px 0;
    padding-top: 0;
  }

  .content2 {
    float: right;
    width: 100%;
    padding: 10px 0;
    padding-top: 0;
  }

  .sidebar2 {
    width: 100%;
    position: relative;
    padding: 10px 0;
    padding-top: 0;
  }

/*  .sidebar2 p {
    font-size: 0;
    padding: 0;
    margin: 0;
    height: 0;
  }

  .sidebar2 img {
    position: absolute;
    top: 70px;
    left: 0;
    margin-bottom: 20px;
  }*/

}

@media screen and (max-width: 825px) {

  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  p#ID3 {
    width: auto;
  }
/*
  .sidebar2 img {
    max-width: 100%;
  }*/

}

@media screen and (min-width: 700px) {

  .mobile-logo {
    display: none;
  }

  .index .content {
    position: relative;
    left: 25%;
  }

  .index .sidebar1 {
    position: relative;
    left: -50%;
  }

}